<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/swiper-bundle.min.css">
<link rel="stylesheet" href="/style.css">
<style>
    * {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #7f2f2f;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}
</style>
<script>
    
function imageZoom(imgID, resultID) {
  var img, lens, result, cx, cy;
  img = document.getElementById(imgID);
  result = document.getElementById(resultID);
  /* Create lens: */
  lens = document.createElement("DIV");
  lens.setAttribute("class", "img-zoom-lens");
  /* Insert lens: */
  img.parentElement.insertBefore(lens, img);
  /* Calculate the ratio between result DIV and lens: */
  cx = result.offsetWidth / lens.offsetWidth;
  cy = result.offsetHeight / lens.offsetHeight;
  /* Set background properties for the result DIV */
  result.style.backgroundImage = "url('" + img.src + "')";
  result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";
  /* Execute a function when someone moves the cursor over the image, or the lens: */
  lens.addEventListener("mousemove", moveLens);
  img.addEventListener("mousemove", moveLens);
  /* And also for touch screens: */
  lens.addEventListener("touchmove", moveLens);
  img.addEventListener("touchmove", moveLens);
  function moveLens(e) {
    var pos, x, y;
    /* Prevent any other actions that may occur when moving over the image */
    e.preventDefault();
    /* Get the cursor's x and y positions: */
    pos = getCursorPos(e);
    /* Calculate the position of the lens: */
    x = pos.x - (lens.offsetWidth / 2);
    y = pos.y - (lens.offsetHeight / 2);
    /* Prevent the lens from being positioned outside the image: */
    if (x > img.width - lens.offsetWidth) {x = img.width - lens.offsetWidth;}
    if (x < 0) {x = 0;}
    if (y > img.height - lens.offsetHeight) {y = img.height - lens.offsetHeight;}
    if (y < 0) {y = 0;}
    /* Set the position of the lens: */
    lens.style.left = x + "px";
    lens.style.top = y + "px";
    /* Display what the lens "sees": */
    result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
  }
  function getCursorPos(e) {
    var a, x = 0, y = 0;
    e = e || window.event;
    /* Get the x and y positions of the image: */
    a = img.getBoundingClientRect();
    /* Calculate the cursor's x and y coordinates, relative to the image: */
    x = e.pageX - a.left;
    y = e.pageY - a.top;
    /* Consider any page scrolling: */
    x = x - window.pageXOffset;
    y = y - window.pageYOffset;
    return {x : x, y : y};
  }
}
</script>
</head>

<body>

    <div style="height: auto;" class="container my-5">
        <div class="row">
            <div class="col-md-5">
                <div class="main-img">
                    <div style="width: 450px;height: 500px;" class="container img-zoom-container">
                    <img style="height:auto;width:auto;  align-items: center;padding: 30px;" class="img-fluid "
                        id="myimage" src="/images/{{data.image}}" alt="ProductS">
                         
                        </div>
                    <div style="padding-top: 10px;" class="row my-3 previews">
                        {{#each data.subImage}}
                        <div style="padding-top: 10px;" class="col-md-3 ">
                            <button class="btn" style="border: none;"><img style="height: 70px;width: 50px;"
                                    class="thumbnail" src="/images/{{this}}" alt="Sale"
                                    onclick="changeImage('/images/{{this}}')"></button>
                        </div>
                        {{/each}}
                        


                    </div>
                </div>
            </div>
            <div class="col-md-7">
              
                <div class="main-description px-2">
                    <div class="category text-bold">
                        Category: {{data.category}}
                    </div>
                    <div class="product-title text-bold my-3">
                        {{data.product}}
                    </div>


                    <div class="price-area my-4">
                        <p class="old-price mb-1 text-danger"><del>{{data.price}}</del> <span
                                class="old-price-discount text-success">{{data.discount}}Off
                            </span></p>

                        <p class="text-secondary mb-1">{{data.description}}</p>

                    </div>


                    <div class="buttons d-flex my-5">
                        <div class="block">
                            <a href="#" class="shadow btn custom-btn ">Wishlist</a>
                        </div>
                        <div class="block">
                            <a href="/user/add-to-cart/{{data.id}}"><button class="shadow btn custom-btn">Add to cart</button></a>
                        </div>

                        <div class="block quantity">
                            <input type="number" class="form-control" id="cart_quantity" value="1" min="0" max="5"
                                placeholder="Enter email" name="cart_quantity">
                        </div>
                    </div>




                </div>


                <div class="product-details my-4">
                    <p class="details-title text-color mb-1">Product Details</p>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat excepturi
                        odio recusandae aliquid ad impedit autem commodi earum voluptatem laboriosam? </p>
                </div>

                <div class="row questions bg-light p-3">
                    <div class="col-md-1 icon">
                        <i class="fa-brands fa-rocketchat questions-icon"></i>
                    </div>
                    <div class="col-md-11 text">
                        Have a question about our products at E-Store? Feel free to contact our representatives via live
                        chat or email.
                    </div>
                </div>

                <div class="delivery my-4">
                    <p class="font-weight-bold mb-0"><span><i class="fa-solid fa-truck"></i></span> <b>Delivery done in
                            3 days from date of purchase</b> </p>
                    <p class="text-secondary">Order now to get this product delivery</p>
                </div>
                <div class="delivery-options my-4">
                    <p class="font-weight-bold mb-0"><span><i class="fa-solid fa-filter"></i></span> <b>Delivery
                            options</b> </p>
                    <p class="text-secondary">View delivery options here</p>
                </div>


            </div>
        </div>
    </div>
    <br>
    <br>


    <div class="row">
        <h1 style="padding-left: 120px;">Similar Products</h1>
    </div>
    {{!-- <div class="container similar-products" style="margin-top: 50px;margin-top: 50px;height: auto;">

        <div class="container" style="height: auto;">
            <div class="row">
                {{#each categorydata}}
                <div class="col-md-3">
                    <div class="similar-product">
                        <img style="width: 150px;height:150px;" src="/images/{{this.image}}" alt="Preview">
                        <p class="title">{{this.product}}</p>
                        <p style="color: green;" class="price">off {{this.discount}}</p>
                        <strike style="color: red;">{{this.price}}</strike>
                        <p class="price">{{this.description}}</p>

                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </div> --}}
    <div  class="container">
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    {{#each categorydata}}
                    <div style="height: auto;;" class="card swiper-slide col-4">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div style="width: auto;height: 250px;" class="card-image">
                                <img src="/images/{{this.image}}" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">{{this.product}}
                            </h2>
                            <p class="description">{{this.description}}</p>

                            <button style="color: black;" class="button">View More</button>
                        </div>
                    </div>
                    {{/each}}


                </div>
            </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <script src="js/swiper-bundle.min.js"></script>
    <script>
        {{!-- product displayed for main image --}}
        function changeImage(newSrc) {
            document.getElementById('myimage').src = newSrc;
        }
        var swiper = new Swiper(".slide-content", {
            slidesPerView: 3,
            spaceBetween: 25,
            loop: true,
            centerSlide: 'true',
            fade: 'true',
            grabCursor: 'true',
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },

            breakpoints: {
                0: {
                    slidesPerView: 1,
                },
                520: {
                    slidesPerView: 2,
                },
                950: {
                    slidesPerView: 3,
                },
            },
        });


imageZoom("myimage", "myresult");

</script>
        {{!-- <script src="//cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/swiper-bundle.min.js"></script> --}}

    <!-- JavaScript -->
    {{!-- <!--Uncomment this line-->
    <script src="//cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/script.js"></script> --}}
    

</body>

</html>