<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <style>
    html {
      height: 200vh;
    }

    body {
      margin: 0px;
      font-family: 'Roboto', sans-serif;
    }

    /*SIDEBAR SECTION */

    #s1 {
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 200px;
      background: rgb(119, 158, 215);

    }

    #s1 ul {
      list-style-type: none;
      text-align: center;
      margin: 0;
      padding: 0;
      font-size: 12px;
    }

    #s1 li {
      padding: 5px;
      font-weight: 300;
      font-size: 16px;
    }

    .home {
      background: rgb(26, 27, 29);
    }

    #s1 li:hover {
      background: #333232;
      padding: 5px;
    }

    #s1 a {
      color: white;
      text-decoration: none;
      font-size: 18px;
    }

    /*RIGHT SECTION */

    #s2 {
      height: 100vh;
      margin-left: 200px;


    }

    /* RESPONSIVE WINDOW */
    @media screen and (max-width:700px) {
      #s1 {
        width: 100px;
        height: inherit;
      }

      #s1 li {
        width: 80px;
        float: left;


      }

      #s1 a {
        color: white;
        text-decoration: none;
        font-size: 14px;
      }

      #s1 li {
        padding: 5px;
        font-weight: 300;
        font-size: 12px;
      }

      #s2 {

        margin-left: 100px;
      }
    }

    @media screen and (max-width: 500px) {
      #s1 {
        position: relative;
      }

      #s1 li {
        text-align: center;
        float: none;
        width: auto;
        padding: 5;

      }
    }

    #checkout-form {
      display: flex;
      flex-direction: column;
      max-width: 675px;
    }

    #check-form {
      display: flex;
      flex-direction: column;
      max-width: 475px;
    }

    form>section:first-child {
      margin-bottom: 50px;
    }

    form>section>h3 {
      font-size: var(--text-m);
      font-weight: 600;
      color: #333;
    }

    form .form-group:not(:last-child) {
      margin-bottom: 12px;
    }

    form .form-groups {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 25px;
    }

    form .form-group>label {
      font-size: var(--text-xs);
      color: #4F4F4F;
      font-weight: 600;
    }

    form .form-group>div {
      position: relative;
      margin-top: 7px;
    }

    form .form-group .material-icons {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
      font-size: var(--text-m);
      color: #828282;
    }

    form .form-group input,
    form .form-group select {
      width: 100%;
      padding: 12px 10px 12px 42px;
      border-radius: 12px;
      border: 1px solid #828282;
      outline: none;
      font-weight: 600;
      font-size: var(--text-s);
    }

    option:disbled {
      color: #828282;
    }

    form .form-group,
    form .form-groups {
      max-width: 475px;
    }

    form .form-group.checkbox {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    #save-info {
      width: auto;
    }

    #save-info~label {
      text-align: center;
    }

    form>button {
      background-color: #4aa6f2;
      outline: none;
      border: 1px solid #4abaf2;
      border-radius: 12px;
      color: #FFF;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      padding: 17px 45px;
      float: right;
      margin-top: 24px;
      transition: all .3s ease;
      cursor: pointer;
      align-self: flex-end;
    }

    form>button:hover {
      background: transparent;
      color: #4adef2;
    }

    footer {
      margin-top: 90px;
    }

    footer>p {
      font-size: 14px;
      line-height: 17px;
      font-weight: 600;
      color: #BDBDBD;
      text-align: center;
    }

    footer>p>a {
      font-weight: 700;
    }

    @media only screen and (min-width: 768px) {
      .global-container {
        max-width: 1000px;
        padding: 0 25px;
      }

      .cart-preview {
        float: right;
        margin-left: 90px;
      }
    }

    @media only screen and (min-width: 900px) {
      :root {
        --text-xs: 12px;
        --text-s: 16px;
        --text-m: 18px;
        --text-l: 36px;
        --one-em: 22px;
      }
    }

    button {
      background-color: rgb(26, 142, 245);
    }

    .div-button {
      background-color: white;
      color: #4aa6f2;
      border-style: solid;
      border-width: 1px;
      border-color: #282929;
      padding: 10px;
      border-radius: 10px;
      width: 200px;
    }

    .container {
      margin-left: 200px;
    }
  </style>
</head>

<body>
  <!--SIDEBAR SECTION -->
  <section style="margin-top: 75px;" id="s1">
    <div id="linklist">
      <ul>
        <li class="home"><a href="#">Account Accecbility</a></li>
        <a href="/user-profile">
          <li>Profile </li>
        </a>
        <a href="/user-profile/address-mgt">
          <li>Address </li>
        </a>
        <li class="home"><a href="#">payment</a></li>
        <a href="#">
          <li>Gift Cards</li>
        </a>
        <a href="#">
          <li>Saved UpI</li>
        </a>
        <a href="#">
          <li>Saved Cards</li>
        </a>
        <li class="home"><a href="#">My Stuff</a></li>
        <a href="/user-profile/offer">
          <li>Offer</li>
        </a>
        <a href="/user-profile/wishlist">
          <li>Wishlist</li>
        </a>
        <a href="/user-profile/order">
          <li>Order</li>
        </a>
        <a href="/user-profile/wallet">
          <li>Wallet</li>
        </a>
        <li class="home"><a href="/user/logout">Logout</a></li>
      </ul>
    </div>
  </section>
  <!--CONTENT SECTION -->
  <section style="padding-top: 50px; height: auto;" id="s2">
    <h3 style="text-align: center;">Personal Information</h3>
    {{!-- <div style="padding: top; width: 50%;" class="div-button" onclick="NewAddress()">+Add NewAddress</div><br>
    --}}
        <div style="margin-left: 90px; width: 45%;" class="div-button" onclick="NewAddress()">Change password</div><br>

    <form action="/user-profile/change-password/{{existuser._id}}" style="padding: 20px;padding-left: 90px;" method="post" id="check-form">
      <section id="Address" style="display: none;">

        <div class="form-group">
          <div class="form-group">
            {{!-- {{#if existuser}} --}}
            <label for="password">Password</label>
            <div>
              <span>{{this.message}}</span>
              <label for="">Your exist password</label>
              <input  type="password" id="password" name="password" placeholder="Your existing password.." />
              <span class="text-danger" id="password-error"></span><br>
              <label for="">Your new password</label>
              <input  type="password" id="newpassword" name="newpassword" placeholder="Your new password.." />
              <span class="text-danger" id="new-password-error"></span><br>
              <label for="">Confirm password</label>
              <input  type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm password.." />
              <span class="text-danger" id="confirm-password-error"></span> 

            </div>
            {{!-- {{/if}} --}}
          </div>
          </div>
       <button type="submit">Save</button>
      </section>
    </form>
    {{!-- Personal information --}}
    <form style="padding: 40px;padding-left: 90px;" action="/user-profile/personal-information" method="post"
      id="checkout-form">
      <section id="Address">
        {{#if result}}
        <div style="display: flex;">
        <h3 >Edit Personal information</h3>
       
       <button style="justify-content: end;margin-left: 80px;" type="submit"> <a  href="/user-profile/delete/{{result._id}}">Delete</a></button>
        </div>
        {{else}}
        <h3>Personal Information</h3>
        {{/if}}
        <div class="form-group">
          <label for="fullname">Full name</label>
          <div>
            <input value="{{result.fullname}}" type="text" id="fullname" name="fullname"
              placeholder="Your full name..." />
            <span class="text-danger" id="fullname-error"></span>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <div>
            <input value="{{result.email}}" type="email" id="email" name="email" placeholder="Your Email..." />
            <span class="text-danger" id="email-error"></span>
          </div>
        </div>
        <div class="form-group">
          <label for="Phone">Phone Number</label>
          <div>
            <input value="{{result.phone}}" type="Number" id="phone" name="phone" placeholder="Your Phone Number..." />
            <span class="text-danger" id="phone-error"></span>
          </div>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <div>

            <input value="{{result.address}}" type="text" id="address" placeholder="Your address..." name="address" />
            <span class="text-danger" id="address-error"></span>
          </div>
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <div>

            <input value="{{result.city}}" type="text" id="city" name="city" placeholder="Your city..." />
            <span class="text-danger" id="city-error"></span>
          </div>
        </div>
        <div class="form-groups">
          <div class="form-group">
            <label for="country">Country</label>
            <div>

              <select name="state" id="state">
                <option disabled selected>Your state...</option>
                <option>Kerala</option>
                <option>karnadaka</option>
                <option>Thamilnadu</option>
                <option>Andra</option>
                <option>Delhi</option>
                <option>Punjab</option>
              </select>
              <span class="text-danger" id="state-error"></span>
            </div>
          </div>
          <div class="form-group">
            <label for="postal-code">Postal code</label>
            <div>

              <input value="{{result.postalcode}}" type="text" id="postal-code" name="postalcode"
                placeholder="Your postal code..." />
              <span class="text-danger" id="postalcode-error"></span>
            </div>
          </div>
        </div>
   
        <button type="submit">Save</button>
      </section>
    </form>

</body>

</html>
<script>
  document.getElementById("checkout-form").addEventListener('submit', (e) => {
    var fullname = document.getElementById("fullname").value;
    document.getElementById("fullname-error").innerHTML;
    if (fullname === '') {
      document.getElementById("fullname-error").innerHTML = 'This field is required';
      e.preventDefault()
    }

    var address = document.getElementById("address").value;
    document.getElementById("address-error").innerHTML;
    if (address === '') {
      document.getElementById("address-error").innerHTML = 'This field is required'
      e.preventDefault()
    }

    var city = document.getElementById("city").value;
    document.getElementById("city-error").innerHTML;
    if (city === '') {
      document.getElementById("city-error").innerHTML = 'This field is required'
      e.preventDefault()
    }

    var state = document.getElementById("state").value;
    document.getElementById("state-error").innerHTML;
    if (state === '') {
      document.getElementById("state-error").innerHTML = 'This field is required'
      e.preventDefault()
    }

    var email = document.getElementById("email").value;
    document.getElementById("email-error").innerHTML;
    if (email === '') {
      document.getElementById("email-error").innerHTML = 'This field is required'
      e.preventDefault()
    }

    var phone = document.getElementById("phone").value;
    document.getElementById("phone-error").innerHTML;
    if (phone === '') {
      document.getElementById("phone-error").innerHTML = 'This field is required'
      e.preventDefault()
    }

    var postalcode = document.getElementById("postal-code").value;
    document.getElementById("postalcode-error").innerHTML;
    if (postalcode === '') {
      document.getElementById("postalcode-error").innerHTML = 'This field is required'
      e.preventDefault()
    }
  })

  function NewAddress() {
    var x = document.getElementById("Address");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

document.getElementById("check-form").addEventListener('submit', (e) => {
    var password = document.getElementById("password").value;
    document.getElementById("password-error").innerHTML;
    if (password === '') {
      document.getElementById("password-error").innerHTML = 'This field is required';
      e.preventDefault()
    }

               var newpassword = document.getElementById("newpassword").value;
    document.getElementById("new-password-error").innerHTML;
    if (newpassword === '') {
      document.getElementById("new-password-error").innerHTML = 'This field is required';
      e.preventDefault()
    }
    var confirm = document.getElementById("confirmpassword").value;
    document.getElementById("confirm-password-error").innerHTML;
    if (confirm === '') {
      document.getElementById("confirm-password-error").innerHTML = 'This field is required';
      e.preventDefault()
    }
     if (confirm != newpassword) {
      document.getElementById("confirm-password-error").innerHTML = 'Password is not match';
      e.preventDefault()
    }
})
</script>